force-app/main/default/flows/Garden_record_is_created_or_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_if_the_Garden_record_is_inserted_or_updated_with_Manager</name>
        <label>Check if the Garden record is inserted or updated with Manager</label>
        <locationX>798</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Garden_record_is_created_with_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Garden record is created with manager</label>
        </rules>
        <rules>
            <name>Garden_record_is_Updated_with_or_without_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>record_with_update_manager</targetReference>
            </connector>
            <label>Garden record is Updated with_without manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>798</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_the_task_with_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Records_2</targetReference>
            </connector>
            <label>Update the task with manager</label>
        </rules>
        <rules>
            <name>If_Manger_unassigned_Delete_the_Task_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Records_2</targetReference>
            </connector>
            <label>If Manger unassigned Delete the Task record</label>
        </rules>
        <rules>
            <name>Garden_is_updated_and_assigned_with_manager_first_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CAMPX__Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Task</targetReference>
            </connector>
            <label>Garden is updated and  assigned with manager first time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>710</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>If Empty</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lst_task_to_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_a_Task</targetReference>
            </connector>
            <label>If Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Decision 4</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_the_Garden_record_is_inserted_or_updated_with_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Plant_count_update</name>
            <conditionLogic>((1 AND 3) OR (6 AND 7) ) OR  (2 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__Total_Plant_Count__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Max_Plant_Count__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CAMPX__Total_Plant_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CAMPX__Total_Plant_Count__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CAMPX__Max_Plant_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CAMPX__Max_Plant_Count__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Total_Unhealthy_Plant_Count__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CAMPX__Total_Unhealthy_Plant_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CAMPX__Total_Unhealthy_Plant_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_capacity_when_plant_count_updated</targetReference>
            </connector>
            <label>If Plant count update</label>
        </rules>
        <rules>
            <name>when_record_created_update_the_capacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_capacity_when_record_was_created</targetReference>
            </connector>
            <label>when record is created update the capacity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>HealthIndex</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.CAMPX__Total_Plant_Count__c}&gt;0, (({!$Record.CAMPX__Total_Plant_Count__c}-{!$Record.CAMPX__Total_Unhealthy_Plant_Count__c})/{!$Record.CAMPX__Total_Plant_Count__c})*100, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Totalcapacity</name>
        <dataType>Number</dataType>
        <expression>IF(({!$Record.CAMPX__Total_Plant_Count__c}&gt;0), IF({!$Record.CAMPX__Max_Plant_Count__c}&gt;0, ({!$Record.CAMPX__Total_Plant_Count__c}/{!$Record.CAMPX__Max_Plant_Count__c})*100, 0), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updateStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.CAMPX__Status__c}, &apos;Permanent Closure&apos;), TEXT({!$Record.CAMPX__Status__c}), 
IF({!$Record.CAMPX__Capacity__c} == 0, &apos;Temporary Closure&apos;, 
IF({!$Record.CAMPX__Capacity__c}&gt;100, &apos;Over Capacity&apos;,
IF({!$Record.CAMPX__Capacity__c}&lt;100 &amp;&amp; {!$Record.CAMPX__Capacity__c}&gt;70 &amp;&amp; {!$Record.CAMPX__Total_Plant_Count__c}&gt;={!$Record.CAMPX__Minimum_Plant_Count__c} &amp;&amp; {!$Record.CAMPX__Health_Index__c}&gt;=70,&apos;Operational&apos;,
IF(({!$Record.CAMPX__Capacity__c} &lt; 70 || {!$Record.CAMPX__Health_Index__c} &lt; 70 ||{!$Record.CAMPX__Minimum_Plant_Count__c} &gt; {!$Record.CAMPX__Total_Plant_Count__c}),&apos;Awaiting Resources&apos;, TEXT({!$Record.CAMPX__Status__c}))))))</expression>
    </formulas>
    <interviewLabel>When Garden record is created or updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>When Garden record is created or updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_A_Task</name>
        <label>Create A Task</label>
        <locationX>798</locationX>
        <locationY>1739</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CAMPX__Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Acquire Plants</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_a_Task</name>
        <label>Delete a Task</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <inputReference>lst_task_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_task</name>
        <label>Get task</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>lst_task_to_delete</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>record_with_update_manager</name>
        <label>record with update manager</label>
        <locationX>798</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CAMPX__Garden__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Records_2</name>
        <label>Copy 1 of Update Records 2</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_the_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>CAMPX__Manager_Start_Date__c</field>
            <value>
                <elementReference>currentdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Records_2</name>
        <label>Copy 2 of Update Records 2</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Get_task</targetReference>
        </connector>
        <inputAssignments>
            <field>CAMPX__Manager_Start_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_capacity_when_plant_count_updated</name>
        <label>Update capacity when plant count updated</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_the_Garden_record_is_inserted_or_updated_with_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>CAMPX__Capacity__c</field>
            <value>
                <elementReference>Totalcapacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMPX__Health_Index__c</field>
            <value>
                <elementReference>HealthIndex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMPX__Status__c</field>
            <value>
                <elementReference>updateStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Create_A_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>CAMPX__Manager_Start_Date__c</field>
            <value>
                <elementReference>currentdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_capacity_when_record_was_created</name>
        <label>Update the capacity when record was created</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_the_Garden_record_is_inserted_or_updated_with_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>CAMPX__Capacity__c</field>
            <value>
                <elementReference>Totalcapacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMPX__Health_Index__c</field>
            <value>
                <elementReference>HealthIndex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMPX__Status__c</field>
            <value>
                <elementReference>updateStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Task</name>
        <label>Update the Task</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CAMPX__Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <object>CAMPX__Garden__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lst_task_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>task_id_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
